.body {
    margin-top: 3cm;
}
   #profile-section {
       background-color: #f0f0f0;
       padding: 20px;
       margin-bottom: 20px;
   }

#appointments-table {
    margin-top: 20px;
}

#new-appointment {
    margin-top: 20px;
}

.card-title {
    margin-bottom: 20px;
}

#calendar {
    margin-top: 20px;
}
