.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.popup-content h2 {
    margin-top: 0;
}
.popup-content button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-btn {
    background-color: red;
    color: white;
}
.survey-btn {
    background-color: green;
    color: white;
}

.body {
    margin-top: 22cm;
}

.body2 {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    display: block;
    margin-bottom: 10px;
}
select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #3e8e41;
}